In [1]:
import pandas as pd     #pd means any name , mine, yours

In [7]:
df=pd.read_excel(r'C:\Users\rekha\Desktop\iNeuron\Dress sales.xlsx')              #complete path where our file has stored

In [8]:
df

,Dress_ID,29/8/2013,31/8/2013,2013-02-09 00:00:00,2013-04-09 00:00:00,2013-06-09 00:00:00,2013-08-09 00:00:00,2013-10-09 00:00:00,2013-12-09 00:00:00,14/9/2013,...,24/9/2013,26/9/2013,28/9/2013,30/9/2013,2013-02-10 00:00:00,2013-04-10 00:00:00,2013-06-10 00:00:00,2010-08-10 00:00:00,2013-10-10 00:00:00,2013-12-10 00:00:00
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1190380701,6,7,7,7,8,8,9,10,10,...,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,0,0,0,560,554,544,537,525,519,...,400,388.0,360,364.0,372.0,377.0,380,382.0,384.0,285
496,722565148,0,0,0,875,866,861,854,850,844,...,859,866.0,882,888.0,895.0,898.0,906,913.0,919.0,931
497,532874347,0,0,0,734,728,726,715,694,690,...,616,597.0,586,569.0,561.0,555.0,551,546.0,535.0,520
498,655464934,0,0,0,254,259,261,263,268,270,...,257,256.0,255,254.0,253.0,250.0,249,249.0,249.0,248
499,919930954,0,0,0,538,545,558,563,578,585,...,628,632.0,639,645.0,651.0,655.0,660,668.0,674.0,680

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
pd.read_excel(r'C:\Users\rekha\Desktop\iNeuron\Dress sales.xlsx' , sheet_name = 'dress_ID')
#to read data from perticular data sheet

     Dress_ID  29/8/2013  31/8/2013
0  1006032852       2114       2274
1  1212192089        151        275
2  1190380701          6          7
3   966005983       1005       1128
4   876339541        996       1175

In [7]:
#by default 1st row is act as header

In [16]:
pd.read_excel(r'C:\Users\rekha\Desktop\iNeuron\Dress sales.xlsx' , sheet_name = 'Dress_ID 15')

    749031896  2498       2545       2627       2656
0  1055411544         22         28         40         43
1  1162628131          4          8         19         25
2   624314841       1587       1669       1729       1764
3   830467746         10         13         17         17
4   840857118          2          4         10         11
5  1113221101        122        143        243        279

In [12]:
pd.read_excel(r'C:\Users\rekha\Desktop\iNeuron\Attribute DataSet.xlsx')

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [10]:
pd.read_excel(r'C:\Users\rekha\Downloads\Attribute DataSet.xlsx',sheet_name = 'ocean')  #sheet name is ocean in excel file

   Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3
0         NaN        NaN        NaN        NaN
1         NaN        NaN        NaN        NaN
2         NaN        NaN        NaN        NaN
3         NaN        NaN        NaN        NaN
4       Price     Rating       Size     Season
5         Low        4.6          M     Summer
6         Low          0          L     Summer
7        High          0          L     Automn
8     Average        4.6          L     Spring
9         Low        4.5          M     Summer
10        Low          0          M     Summer
11    Average          0         XL     Summer

In [11]:
pd.read_excel(r'C:\Users\rekha\Downloads\Attribute DataSet.xlsx', sheet_name = 'line',header=None, names=['A', 'B','C'])  
#1st row by default act as header so we have given the name as per our choice

           A     B       C
Average  0.0  free  Automn
Average  0.0  free  Spring
Low      0.0  free  Summer
Average  5.0  free  Summer
Average  0.0  free  Spring
Low      4.7     M  Winter
Average  4.8     M  Summer

In [12]:
pd.read_excel(r'C:\Users\rekha\Downloads\Attribute DataSet.xlsx', sheet_name = 'sea_line')

     Material FabricType  Decoration
0         NaN    chiffon     ruffles
1  microfiber        NaN     ruffles
2    polyster        NaN         NaN
3        silk    chiffon  embroidary

In [13]:
pd.read_excel(r'C:\Users\rekha\Downloads\Attribute DataSet.xlsx', sheet_name = 'sea_line', header=None, names=['A', 'B', 'C'])

            A           B           C
0    Material  FabricType  Decoration
1         NaN     chiffon     ruffles
2  microfiber         NaN     ruffles
3    polyster         NaN         NaN
4        silk     chiffon  embroidary

In [18]:
df

,Dress_ID,29/8/2013,31/8/2013,2013-02-09 00:00:00,2013-04-09 00:00:00,2013-06-09 00:00:00,2013-08-09 00:00:00,2013-10-09 00:00:00,2013-12-09 00:00:00,14/9/2013,...,24/9/2013,26/9/2013,28/9/2013,30/9/2013,2013-02-10 00:00:00,2013-04-10 00:00:00,2013-06-10 00:00:00,2010-08-10 00:00:00,2013-10-10 00:00:00,2013-12-10 00:00:00
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1190380701,6,7,7,7,8,8,9,10,10,...,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,0,0,0,560,554,544,537,525,519,...,400,388.0,360,364.0,372.0,377.0,380,382.0,384.0,285
496,722565148,0,0,0,875,866,861,854,850,844,...,859,866.0,882,888.0,895.0,898.0,906,913.0,919.0,931
497,532874347,0,0,0,734,728,726,715,694,690,...,616,597.0,586,569.0,561.0,555.0,551,546.0,535.0,520
498,655464934,0,0,0,254,259,261,263,268,270,...,257,256.0,255,254.0,253.0,250.0,249,249.0,249.0,248
499,919930954,0,0,0,538,545,558,563,578,585,...,628,632.0,639,645.0,651.0,655.0,660,668.0,674.0,680

In [17]:
df.head()              #by default top 5 rows will display

,Dress_ID,29/8/2013,31/8/2013,2013-02-09 00:00:00,2013-04-09 00:00:00,2013-06-09 00:00:00,2013-08-09 00:00:00,2013-10-09 00:00:00,2013-12-09 00:00:00,14/9/2013,...,24/9/2013,26/9/2013,28/9/2013,30/9/2013,2013-02-10 00:00:00,2013-04-10 00:00:00,2013-06-10 00:00:00,2010-08-10 00:00:00,2013-10-10 00:00:00,2013-12-10 00:00:00
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1190380701,6,7,7,7,8,8,9,10,10,...,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736

In [19]:
df.head(2)            #top 2 rows will display

,Dress_ID,29/8/2013,31/8/2013,2013-02-09 00:00:00,2013-04-09 00:00:00,2013-06-09 00:00:00,2013-08-09 00:00:00,2013-10-09 00:00:00,2013-12-09 00:00:00,14/9/2013,...,24/9/2013,26/9/2013,28/9/2013,30/9/2013,2013-02-10 00:00:00,2013-04-10 00:00:00,2013-06-10 00:00:00,2010-08-10 00:00:00,2013-10-10 00:00:00,2013-12-10 00:00:00
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277

In [20]:
df.tail()             #by default bottom 5 rows will display

,Dress_ID,29/8/2013,31/8/2013,2013-02-09 00:00:00,2013-04-09 00:00:00,2013-06-09 00:00:00,2013-08-09 00:00:00,2013-10-09 00:00:00,2013-12-09 00:00:00,14/9/2013,...,24/9/2013,26/9/2013,28/9/2013,30/9/2013,2013-02-10 00:00:00,2013-04-10 00:00:00,2013-06-10 00:00:00,2010-08-10 00:00:00,2013-10-10 00:00:00,2013-12-10 00:00:00
495,713391965,0,0,0,560,554,544,537,525,519,...,400,388.0,360,364.0,372.0,377.0,380,382.0,384.0,285
496,722565148,0,0,0,875,866,861,854,850,844,...,859,866.0,882,888.0,895.0,898.0,906,913.0,919.0,931
497,532874347,0,0,0,734,728,726,715,694,690,...,616,597.0,586,569.0,561.0,555.0,551,546.0,535.0,520
498,655464934,0,0,0,254,259,261,263,268,270,...,257,256.0,255,254.0,253.0,250.0,249,249.0,249.0,248
499,919930954,0,0,0,538,545,558,563,578,585,...,628,632.0,639,645.0,651.0,655.0,660,668.0,674.0,680

In [21]:
df.tail(2)          #bottom 2 rows will display

,Dress_ID,29/8/2013,31/8/2013,2013-02-09 00:00:00,2013-04-09 00:00:00,2013-06-09 00:00:00,2013-08-09 00:00:00,2013-10-09 00:00:00,2013-12-09 00:00:00,14/9/2013,...,24/9/2013,26/9/2013,28/9/2013,30/9/2013,2013-02-10 00:00:00,2013-04-10 00:00:00,2013-06-10 00:00:00,2010-08-10 00:00:00,2013-10-10 00:00:00,2013-12-10 00:00:00
498,655464934,0,0,0,254,259,261,263,268,270,...,257,256.0,255,254.0,253.0,250.0,249,249.0,249.0,248
499,919930954,0,0,0,538,545,558,563,578,585,...,628,632.0,639,645.0,651.0,655.0,660,668.0,674.0,680

In [22]:
pd.read_csv(r'C:\Users\rekha\Desktop\iNeuron\haberman.csv', header = None, names=['Age', "Patient's year", 'Number of positive', ' Survival status'])

     Age  Patient's year  Number of positive   Survival status
0     30              64                   1                 1
1     30              62                   3                 1
2     30              65                   0                 1
3     31              59                   2                 1
4     31              65                   4                 1
..   ...             ...                 ...               ...
301   75              62                   1                 1
302   76              67                   0                 1
303   77              65                   3                 1
304   78              65                   1                 2
305   83              58                   2                 2

[306 rows x 4 columns]

In [23]:
pd.read_csv(r'C:\Users\rekha\Desktop\iNeuron\haberman1.csv')   #comma is replaced by *, not able to separete as given below

      30*64*1*1
0     30*62*3*1
1     30*65*0*1
2     31*59*2*1
3     31*65*4*1
4    33*58*10*1
..          ...
300   75*62*1*1
301   76*67*0*1
302   77*65*3*1
303   78*65*1*2
304   83*58*2*2

[305 rows x 1 columns]

In [24]:
pd.read_csv(r'C:\Users\rekha\Desktop\iNeuron\haberman1.csv', sep='*')

     30  64   1  1.1
0    30  62   3    1
1    30  65   0    1
2    31  59   2    1
3    31  65   4    1
4    33  58  10    1
..   ..  ..  ..  ...
300  75  62   1    1
301  76  67   0    1
302  77  65   3    1
303  78  65   1    2
304  83  58   2    2

[305 rows x 4 columns]

In [22]:
pd.read_html(r'https://www.vedantu.com/maths/square-root-table-from-1-to-50', header = None)

[     0              1   2              3   4               5   6  \
 0   No  SquareRoot(√)  No  SquareRoot(√)  No  Square Root(√)  No
 1    1              1  11          3.317  21           4.583  31
 2    2          1.414  12          3.464  22           4.690  32
 3    3          1.732  13          3.606  23           4.796  33
 4    4          2.000  14          3.742  24           4.899  34
 5    5          2.236  15          3.873  25               5  35
 6    6          2.449  16              4  26           5.099  36
 7    7          2.646  17          4.123  27           5.196  37
 8    8          2.828  18          4.243  28           5.292  38
 9    9              3  19          4.359  29           5.385  39
 10  10          3.162  20          4.472  30           5.477  40

                 7   8               9
 0   SquareRoot(√)  No  SquareRoot (√)
 1           5.568  41           6.403
 2           5.657  42           6.481
 3           5.745  43           6.557
 4           5.831  44           6.633
 5           5.916  45           6.708
 6               6  46           6.782
 7           6.083  47           6.856
 8           6.164  48           6.928
 9           6.245  49               7
 10          6.325  50           7.071  ]

In [23]:
a = pd.read_html(r'https://www.vedantu.com/maths/square-root-table-from-1-to-50', header = None)

In [24]:
type(a)

list

In [25]:
len(a)

1

In [26]:
pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/BCF.csv")

           date  values.I2P  values.P2I  values.JPI
0    1996-04-01   -2.580556   -0.836444        63.3
1    1996-05-01   -2.882258   -1.972581        66.3
2    1996-06-01   -1.742778   -0.478778        59.7
3    1996-07-01   -0.397796   -1.574301        63.3
4    1996-08-01   -0.977151   -1.797312        63.8
..          ...         ...         ...         ...
112  2005-08-01   -2.144935   -1.646989        49.0
113  2005-09-01   -3.543270   -1.769889        49.9
114  2005-10-01   -4.500484   -2.309946        50.6
115  2005-11-01   -4.098556   -1.528611        57.4
116  2005-12-01   -5.797043   -2.872849        52.9

[117 rows x 4 columns]

In [27]:
pd.read_json('https://api.github.com/repos/pandas-dev/pandas/issues')        
#json is the dictionaries with combination of key value pair

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app,state_reason
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/49420,1430291665,PR_kwDOAA0YD85B6FA4,49420,ENH: Add masked engine,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/49419,1430286947,PR_kwDOAA0YD85B6D-P,49419,BUG: Unclear error message when merging tables...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #49417\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/49418,1430284448,PR_kwDOAA0YD85B6Dan,49418,issue 48855 enable pylint unnecessary-pass,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,"Issue #48855. This PR enables pylint type ""W"" ...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/49417,1430269130,I_kwDOAA0YD85VQCzK,49417,BUG: Unclear error message when merging tables...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/49416,1430229540,PR_kwDOAA0YD85B53l1,49416,API: make some Timestamp args keyword-only,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #45307 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/49415,1430199196,PR_kwDOAA0YD85B5xCm,49415,"DEPR: non-keyword args, errors arg",...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/49414,1430193513,PR_kwDOAA0YD85B5v03,49414,Backport PR #48234 on branch 1.5.x (REGR: Fix ...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Backport PR #48234: REGR: Fix regression Recur...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/49413,1430192116,I_kwDOAA0YD85VPv_0,49413,ENH: Clearer error messaging when pd.DataFrame...,...,NaT,NONE,NaN,NaN,NaN,### Feature Type\n\n- [ ] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/49412,1430147292,PR_kwDOAA0YD85B5l6C,49412,DEPR: indexing,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/49411,1430134020,I_kwDOAA0YD85VPh0E,49411,"BUG: ""TODO(1.4): Change me into xfail at relea...",...,NaT,MEMBER,NaN,NaN,NaN,"There's a bunch of these, some with slightly d...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/49409,1429788324,I_kwDOAA0YD85VONak,49409,BUG: Cannot floor/ ceil/ round DST times even ...,...,NaT,NONE,NaN,NaN,NaN,**Pandas version checks**\r\n\r\n- I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/49408,1429776203,I_kwDOAA0YD85VOKdL,49408,BUG: type hint to function pd.DataFrame.from_d...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/49406,1429682070,I_kwDOAA0YD85VNzeW,49406,STYLE autoupdate pre-commit,...,NaT,MEMBER,NaN,NaN,NaN,"Tomorrow, the autoupdate job will run, and the...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/49404,1429111664,PR_kwDOAA0YD85B2IFA,49404,"BUG/PERF: Series.replace with dtype=""category""",...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] [Tests added and passed](https://pandas....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/49402,1428944040,PR_kwDOAA0YD85B1leS,49402,DEPR: Enforce deprecation of na_sentinel,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/49401,1428909427,PR_kwDOAA0YD85B1d6V,49401,DEPR: Enforce deprecation of silent dropping o...,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/49399,1428889980,I_kwDOAA0YD85VKyF8,49399,Bug: Don't intercept TypeError in DataFrame.agg,...,NaT,MEMBER,NaN,NaN,NaN,https://github.com/pandas-dev/pandas/blob/3370...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/49398,1428653454,I_kwDOAA0YD85VJ4WO,49398,API: should dtype=str return array of dtype St...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Feature Type\r\n\r\n- [ ] Adding new funct...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/49395,1428620399,PR_kwDOAA0YD85B0glq,49395,BUG: Fixing DataFrame.Update crashes when NaT ...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #16713 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/49394,1428580102,PR_kwDOAA0YD85B0YFN,49394,DEPR: Timestamp comparison with pydate,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/49393,1428477086,PR_kwDOAA0YD85B0B2r,49393,Make the conversion from dtype to subclass jus...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,"Calling `is_float_dtype` is a really ""safe"" wa...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/49392,1428426334,PR_kwDOAA0YD85Bz3Cb,49392,DEPR: internals,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/49388,1428265107,I_kwDOAA0YD85VIZiT,49388,BUG: .unstack() with recarray column raises Ty...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,reopened
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/49387,1428230123,I_kwDOAA0YD85VIQ_r,49387,BUG: Series.round() expects ExtensionArray.rou...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/49382,1428018156,PR_kwDOAA0YD85ByjyC,49382,STYLE: fix pylint unneeded-not warnings,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Related to https://github.com/pandas-dev/panda...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/49381,1427947298,PR_kwDOAA0YD85ByVB5,49381,"DEPR: Timestamp(dt64obj, tz=tz)",...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/49379,1427928233,PR_kwDOAA0YD85ByQ0T,49379,"STYLE fix: pylint C-type ""disallowed-name "" wa...",...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,[x] Refers to one of the issues in STYLE fix p...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/49378,1427903562,PR_kwDOAA0YD85ByLeu,49378,API/BUG: Fix is_string_dtype and make more strict,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #15585 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/49377,1427885410,PR_kwDOAA0YD85ByHc6,49377,BUG: Fix passing `Colormap` instance to plot m...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #49374\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/49376,1427757428,PR_kwDOAA0YD85BxsBW,49376,CLN: Remove xlrd < 2.0 code,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,None

In [28]:
js = pd.read_json('https://api.github.com/repos/pandas-dev/pandas/issues')

In [29]:
js.columns

Index(['url', 'repository_url', 'labels_url', 'comments_url', 'events_url',
       'html_url', 'id', 'node_id', 'number', 'title', 'user', 'labels',
       'state', 'locked', 'assignee', 'assignees', 'milestone', 'comments',
       'created_at', 'updated_at', 'closed_at', 'author_association',
       'active_lock_reason', 'draft', 'pull_request', 'body', 'reactions',
       'timeline_url', 'performed_via_github_app', 'state_reason'],
      dtype='object')

In [30]:
js['user'][0]

{'login': 'jrbourbeau',
 'id': 11656932,
 'node_id': 'MDQ6VXNlcjExNjU2OTMy',
 'avatar_url': 'https://avatars.githubusercontent.com/u/11656932?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/jrbourbeau',
 'html_url': 'https://github.com/jrbourbeau',
 'followers_url': 'https://api.github.com/users/jrbourbeau/followers',
 'following_url': 'https://api.github.com/users/jrbourbeau/following{/other_user}',
 'gists_url': 'https://api.github.com/users/jrbourbeau/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/jrbourbeau/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/jrbourbeau/subscriptions',
 'organizations_url': 'https://api.github.com/users/jrbourbeau/orgs',
 'repos_url': 'https://api.github.com/users/jrbourbeau/repos',
 'events_url': 'https://api.github.com/users/jrbourbeau/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/jrbourbeau/received_events',
 'type': 'User',
 'site_admin': False}

In [31]:
js['user']     #key value pair data created, records from user coloumn

0     {'login': 'jrbourbeau', 'id': 11656932, 'node_...
1     {'login': 'jbrockmendel', 'id': 8078968, 'node...
2     {'login': 'jbrockmendel', 'id': 8078968, 'node...
3     {'login': 'jbrockmendel', 'id': 8078968, 'node...
4     {'login': 'meeseeksmachine', 'id': 39504233, '...
5     {'login': 'mroeschke', 'id': 10647082, 'node_i...
6     {'login': 'Pro-Coder04', 'id': 112387629, 'nod...
7     {'login': 'lithomas1', 'id': 47963215, 'node_i...
8     {'login': 'bbassett-tibco', 'id': 81381063, 'n...
9     {'login': 'MichalRIcar', 'id': 62614119, 'node...
10    {'login': 'JMBurley', 'id': 23153616, 'node_id...
11    {'login': 'mroeschke', 'id': 10647082, 'node_i...
12    {'login': 'lohraspco', 'id': 25494629, 'node_i...
13    {'login': 'JMante1', 'id': 40006518, 'node_id'...
14    {'login': 'lithomas1', 'id': 47963215, 'node_i...
15    {'login': 'SamRWest', 'id': 25496992, 'node_id...
16    {'login': 'JMBurley', 'id': 23153616, 'node_id...
17    {'login': 'Dr-Irv', 'id': 15113894, 'node_id':...
18    {'login': 'Leviob', 'id': 59812528, 'node_id':...
19    {'login': 'sergiykhan', 'id': 25179211, 'node_...
20    {'login': 'MarcoGorelli', 'id': 33491632, 'nod...
21    {'login': 'DanielGoncalves47264', 'id': 792149...
22    {'login': 'heijligers', 'id': 3141847, 'node_i...
23    {'login': 'rosagold', 'id': 22431999, 'node_id...
24    {'login': 'akx', 'id': 58669, 'node_id': 'MDQ6...
25    {'login': 'liquidcarbon', 'id': 47034358, 'nod...
26    {'login': 'mroeschke', 'id': 10647082, 'node_i...
27    {'login': 'jbrockmendel', 'id': 8078968, 'node...
28    {'login': 'akx', 'id': 58669, 'node_id': 'MDQ6...
29    {'login': 'andrewgsavage', 'id': 13157776, 'no...
Name: user, dtype: object

In [30]:
pd.read_excel(r'C:\Users\rekha\Desktop\iNeuron\Attribute DataSet.xlsx')

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [34]:
df.to_json('test253.json')

In [35]:
pwd  #present working directory

'C:\\Users\\rekha'

In [42]:
df

,Dress_ID,29/8/2013,31/8/2013,2013-02-09 00:00:00,2013-04-09 00:00:00,2013-06-09 00:00:00,2013-08-09 00:00:00,2013-10-09 00:00:00,2013-12-09 00:00:00,14/9/2013,...,24/9/2013,26/9/2013,28/9/2013,30/9/2013,2013-02-10 00:00:00,2013-04-10 00:00:00,2013-06-10 00:00:00,2010-08-10 00:00:00,2013-10-10 00:00:00,2013-12-10 00:00:00
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1190380701,6,7,7,7,8,8,9,10,10,...,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,0,0,0,560,554,544,537,525,519,...,400,388.0,360,364.0,372.0,377.0,380,382.0,384.0,285
496,722565148,0,0,0,875,866,861,854,850,844,...,859,866.0,882,888.0,895.0,898.0,906,913.0,919.0,931
497,532874347,0,0,0,734,728,726,715,694,690,...,616,597.0,586,569.0,561.0,555.0,551,546.0,535.0,520
498,655464934,0,0,0,254,259,261,263,268,270,...,257,256.0,255,254.0,253.0,250.0,249,249.0,249.0,248
499,919930954,0,0,0,538,545,558,563,578,585,...,628,632.0,639,645.0,651.0,655.0,660,668.0,674.0,680

In [44]:
df.to_csv("C://test1.csv")  #permission error,nothing else, means open the anaconda prompt in admin mode not in user mode.

PermissionError: [Errno 13] Permission denied: 'C:/test1.csv'